.pink {
    background-color: rgb(240,128,128);
    font-family: Verdana, "DejaVu Sans", serif;
}


#blue-text {
    color: #0000FF;
    font-size: 36px;
}

.big3 {
    font-size: 24px;
}

#green4 {
    background-color: rgb(144,238,144);
    font-weight: bold; 
}